.section {
    background-color: #42bc81;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .form-container {
      background-color: #fff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
      .logo {
        text-align: center;
        margin-bottom: 20px;
      }
  
      .ant-input-affix-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px; 
      }
  
      .ant-form-item {
        margin-bottom: 20px; 
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      .ant-btn-primary {
        background-color: #42bc81;
        border-color: #42bc81;
        width: 100%;
      }
    }
  
    h2 {
      color: #42bc81; 
      text-align: center; 
      margin-bottom: 20px; 
      font-weight: bold;
    }
  
    .login-link {
      text-align: center;
      margin-top: 20px;
  
      a {
          color: #42bc81;
      }
    }
  }
  